[CMSSW]
total_number_of_lumis  =  -1
number_of_jobs         =  500
lumi_mask              =  kevin_thesis_lumis.json
#datasetpath, pset, output_file set in multicrab

[USER]
return_data            =  1
email                  =  alex.public.account+CrabFNAL@gmail.com
ui_working_dir         =  /uscms_data/d3/gude/2012_kevin_thesis_trigger_eff_with_charge
copy_data              =  0
storage_element        =  T2_US_Wisconsin
user_remote_dir        =  gude

[CRAB]
#scheduler             =  glite
scheduler              =  condor
jobtype                =  cmssw
use_server             =  0
